
.bg-color {
  background: #FFFFFF;
  width: 100%;
  height: 1800px;
}

header {
  display: block;
  height: 81px;
}

/*header logo font*/
.header-distributed .header-left {
  width: 40%;
}

/* The company logo */

.header-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 20px;
}

.header-distributed h3 span {
  color: #5383d3;
}

/*end header logo*/

.container-fluid {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.navbar {
  position: fixed;
  display: inline-block;
  width: 100%;
  /*opacity: 0.8; !* Значение прозрачности *!*/
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 20px;
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 25px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1.5px solid transparent;
  border-radius: 4px;
}

.navbar-inverse .navbar-toggle {
  border-color: #63B8BD;
}

.navbar-brand {
  position: relative;
  /*background: url(../img/logo3.png) no-repeat left center / contain;*/
  height: 80px;
  width: 260px;
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 0;
}

/*@media (min-width: 768px)*/
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left: 0;
}

.navbar-nav {
  float: right;
  padding: 0 30px;
}

.navbar-nav > li {
  float: left;
  height: 77px;
  text-align: center;
}

.navbar-nav > li > a {
  text-align: center;
  font-size: medium;
  font-weight: bold;
  height: 80px;
  padding-top: 33px;
}

.navbar-inverse {
  background-color: #2F3237;
  border-color: #2F3237;
}

.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  /*background-color: #63B8BD;*/
  background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a {
  color: #fff;
  background-color: #2F3237;
}

.navbar-inverse .navbar-nav > .active > a:hover {
  color: #fff;
  background-color: #404348;
}

.navbar-inverse .navbar-nav > .fixed_clr > a {
  color: #fff;
  background-color: dimgray;
}

.navbar-inverse .navbar-nav > .fixed_clr > a:hover {
  color: #fff;
  background-color: #2E8B57;
}

/*Login window*/

.img_mid {
  color: white;
  position: static;
  padding: 5px 0;
}

.modal-login {
  color: #636363;
  width: 350px;
}

.modal-login .modal-content {
  padding: 20px;
  border-radius: 5px;
  top: 160px;
  border: none;
}

.modal-login .modal-header {
  border-bottom: none;
  position: relative;
  justify-content: center;
}

.modal-login h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -15px;
}

.modal-login .form-control:focus {
  border-color: #70c5c0;
}

.modal-login .form-control, .modal-login .btn {
  min-height: 40px;
  border-radius: 3px;
}

.modal-login .close {
  position: absolute;
  top: -5px;
  right: -5px;
}

.modal-login .modal-footer {
  background: #ecf0f1;
  border-color: #dee4e7;
  text-align: center;
  justify-content: center;
  margin: 0 -20px -20px;
  border-radius: 5px;
  font-size: 13px;
}

.modal-login .modal-footer a {
  color: #999;
}

.modal-login .avatar {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -70px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: #60c7c1;
  padding: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.modal-login .avatar img {
  width: 100%;
}

.modal-login.modal-dialog {
  margin-top: 80px;
}

.modal-login .btn {
  color: #fff;
  border-radius: 4px;
  background: #60c7c1;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border: none;
}

.modal-login .btn:hover, .modal-login .btn:focus {
  background: #45aba6;
  outline: none;
}

.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}

/*logib window style ends*/

section > .block-1 {
  position: relative;
  /*height: 609px;*/
  background-color: white;
  overflow: hidden;
}

section > div > img {
  position: relative;
  float: right;
  /*margin-top: 10%;*/
}

section > .block-1 > h1 {
  position: absolute;
  padding: 55px 40px;
}

p {
  position: absolute;
}

.text-fluid {
  position: absolute;
  font-size: 22px;
  margin: 20% 1%;
  font-weight: lighter;
  text-align: center;
  color: dimgrey;
  font-family: Gill Sans, sans-serif;
  /*Kalibga*/

}

.text-fluid-bold {
  position: absolute;
  display: inline-block;
  font-size: 40px;
  /*margin: 14% 40%;*/
  margin: 162px 390px;
  color: #2F3B3E;
  font-weight: bolder;
  font-family: Arial, sans-serif;
  font-style: italic;
  text-align: center;
}

/*main page size = 2450px*/

.block-2 {
  position: relative;
  height: 550px;
  width: 100%;
  margin-top: 120px;
  background-color: #FFFFFF;
  /*#EDEDED*/
  overflow: hidden;
}

.block-2_L {
  position: relative;
  display: inline-block;
  height: 600px;
  width: 45%;
  float: left;
  background-color: transparent;
  /*#EDEDED*/
}

.block-2_R {
  position: relative;
  display: inline-block;
  height: 600px;
  width: 45%;
  float: right;
  background-color: transparent;
  /*#EDEDED*/
}

.block-2_R > h1 {
  text-align: center;
  font-weight: bold;
  height: 52px;
  font-size: 38px;
  padding: 10px 20px;
  font-style: italic;
}

.block-2_R > h2 {
  text-align: center;
  font-style: italic;
  font-size: 18px;
  height: 43px;
  padding: 0 140px;
  margin-bottom: 10px;
}

.block-2_R > h3 {
  text-align: center;
  font-size: 25px;
  height: 45px;
  padding: 0 140px;
  margin-bottom: 10px;
}

.block-2_R > p {
  /*text-align: center;*/
  text-align: justify; /*полное заполнение абзаца*/
  font-size: 22px;
  height: 80px;
  padding: 10px 20px;
}

hr {
  border: none; /* Убираем границу */
  border-radius: 15px;
  width: 80px;
  background-color: seagreen; /* Цвет линии */
  color: seagreen; /* Цвет линии для IE6-7 */
  height: 5px; /* Толщина линии */
}

.text-fluid {
  position: absolute;
  font-size: 22px;
  margin: 20% 1%;
  font-weight: lighter;
  text-align: center;
  color: black;
  font-family: Gill Sans, sans-serif;
  /*Kalibga*/
}

.img_position {
  /*position: absolute;*/
  width: 50%;
  padding: 30px 40px;
}

/*Зубастый забор */
.saw {
  /*text-align: center;*/
  display: inline-block;
  position: relative;
  width: 100%;
  /*height: 850px;*/
  height: 50px;
  margin-top: -20px;
  border: 10px solid transparent;
  border-width: 10px 0;
  background-color: #EDEDED;
  background-color: hsla(0, 0%, 0%, 0);
  background-image: -webkit-linear-gradient(#EDEDED, #EDEDED),
  -webkit-linear-gradient(top left, transparent 50.5%, #EDEDED 50.5%),
  -webkit-linear-gradient(top right, transparent 50.5%, #EDEDED 50.5%),
  -webkit-linear-gradient(bottom left, transparent 50.5%, #EDEDED 50.5%),
  -webkit-linear-gradient(bottom right, transparent 50.5%, #EDEDED 50.5%);
  background-image: -moz-linear-gradient(#EDEDED, #EDEDED),
  -moz-linear-gradient(top left, transparent 50.5%, #EDEDED 50.5%),
  -moz-linear-gradient(top right, transparent 50.5%, #EDEDED 50.5%),
  -moz-linear-gradient(bottom left, transparent 50.5%, #EDEDED 50.5%),
  -moz-linear-gradient(bottom right, transparent 50.5%, #EDEDED 50.5%);
  background-image: linear-gradient(#EDEDED, #EDEDED),
  linear-gradient(to bottom right, transparent 50.5%, #EDEDED 50.5%),
  linear-gradient(to bottom left, transparent 50.5%, #EDEDED 50.5%),
  linear-gradient(to top right, transparent 50.5%, #EDEDED 50.5%),
  linear-gradient(to top left, transparent 50.5%, #EDEDED 50.5%);
  background-repeat: repeat, repeat-x, repeat-x, repeat-x, repeat-x;
  background-position: 0 0, 10px 0, 10px 0, 10px 100%, 10px 100%;
  background-size: auto auto, 20px 20px, 20px 20px, 20px 20px, 20px 20px;
  background-clip: padding-box, border-box, border-box, border-box, border-box;
  background-origin: padding-box, border-box, border-box, border-box, border-box;

  /*конец зубастого забора*/
}

.block-3 {
  position: relative;
  display: inline-block;
  height: 2400px;
  width: 100%;
  margin-top: 75px;
  background-color: #EDEDED;
  /*#EDEDED*/
  overflow: hidden;
}

.block-3 > .container-fluid > h1 {
  text-align: center;
  font-weight: bold;
  height: 90px;
  font-size: 38px;
  padding: 10px 20px;
  font-style: italic;
}

.block-3 > .container-fluid > p {
  /*text-align: center;*/
  text-align: justify; /*полное заполнение абзаца*/
  font-size: 22px;
  height: 80px;
  padding: 10px 20px;
}

.block-4 {
  position: relative;
  display: block;
  height: 1350px;
  width: 100%;
  margin-top: 450px;
  background-color: white;
  /*#EDEDED*/
  overflow: hidden;
}

.block-4_L {
  position: absolute;
  float: left;
  width: 50%;
  /*height: 45%;*/
  height: 450px;
}

.block-4_R {
  width: 50%;
  /*height: 45%;*/
  height: 450px;
  background-color: transparent;
  position: relative;
  float: right;
}

.block-4_R > h1 {
  text-align: center;
  font-weight: bold;
  height: 70px;
  font-size: 38px;
  padding: 70px 20px;
  font-style: italic;
}

.block-4_R > p {
  /*text-align: center;*/
  text-align: justify; /*полное заполнение абзаца*/
  font-size: 22px;
  height: 80px;
  padding: 10px 20px;
}

.block-5 {
  position: relative;
  display: block;
  /*height: 1000px;*/
  width: 100%;
  background-color: transparent;
  /*#EDEDED*/
  overflow: hidden;
}

.block-5_L {
  width: 50%;
  /*height: 45%;*/
  height: 450px;
  background-color: transparent;
  position: absolute;
  float: left;
}

.block-5_R {
  position: relative;
  float: right;
  width: 50%;
  /*height: 45%;*/
  height: 450px;
}

.block-5_L > h1 {
  text-align: center;
  font-weight: bold;
  font-size: 38px;
  height: 70px;
  padding: 70px 20px;
  font-style: italic;
}

.block-5_L > p {
  text-align: justify; /*полное заполнение абзаца*/
  font-size: 22px;
  height: 80px;
  padding: 10px 20px;
}

.block-6 {
  position: absolute;
  display: block;
  height: 1000px;
  width: 100%;
  background-color: transparent;
  overflow: hidden;
}

.block-6_L {
  position: absolute;
  float: left;
  width: 50%;
  /*height: 50%;*/
  height: 450px;
}

.block-6_R {
  position: relative;
  float: right;
  width: 50%;
  height: 450px;
  background-color: transparent;
}

.block-6_R > h1 {
  text-align: center;
  font-weight: bold;
  height: 70px;
  font-size: 38px;
  padding: 70px 20px;
  font-style: italic;
}

.block-6_R > p {
  /*text-align: center;*/
  text-align: justify; /*полное заполнение абзаца*/
  font-size: 22px;
  height: 80px;
  padding: 10px 20px;
}

.block-7_do {
  text-align: center;
  margin-top: 130px;
  position: relative;
  display: inline-block;
  height: 200px;
  width: 100%;
  background-color: transparent;
  overflow: hidden;
}

.do_text_position {
  position: relative;
  display: inline-block;
  background-color: transparent;
  overflow: hidden;
  height: 300px;
  width: 650px;
  margin-left: -400px;
  text-align: center;
}

.do_text_position > p {
  text-align: justify; /*полное заполнение абзаца*/
  font-size: 22px;
  height: 80px;
}

.do_text_position > button {
  padding: 200px 200px;
}

.btn-default {
  position: absolute;
  margin: 20px 0 0 120px;
  width: 220px;
  height: 60px;
  font-style: italic;
  font-size: 20px;
  color: white;
  background-color: black;
  border-color: black;
  border-radius: 10px;
}

.btn-default:focus,
.btn-default.focus {
  color: black;
  background-color: #e6e6e6;
}

.btn-default:hover {
  color: black;
  background-color: #e6e6e6;
  border-color: black;
}

button, input, optgroup, select, textarea {
  margin: 10px;
  font: inherit;
  color: inherit;
}

.block_why {
  position: relative;
  height: 850px;
  width: 100%;
  margin-top: -15px;
  background-color: #FFFFFF;
  overflow: hidden;
}

/*.sub_block_why{*/
/*position: relative;*/
/*height: 850px;*/
/*width: 100%;*/
/*margin-top: -270px;*/
/*background-color: #FFFFFF;*/
/*overflow: hidden;*/
/*}*/

.text-middle {
  text-align: center;
  margin-top: 10px;
}

.text-middle > h1 {
  font-weight: bold;
  font-size: 40px;
  font-style: italic;
}

.block-advantages {
  position: relative;
  height: 540px;
  width: 100%;
  margin-top: 100px;
  background-color: transparent;
  overflow: hidden;
}

/*.col-sm-4 {*/
/*margin-top: 10px;*/
/*}*/

.col-sm-4 > h1 {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  font-style: italic;
}

.col-sm-4 > p {
  text-align: justify;
  font-size: 22px;
  padding: 40px 30px;
  height: 200px;
}

.row_down {
  margin-top: 280px;
}

/*.block_feedback{*/
/*position: relative;*/
/*height: 540px;*/
/*width: 100%;*/
/*margin-top: 100px;*/
/*background-color: #EDEDED;*/
/*overflow: hidden;*/
/*}*/

/*Зубастый забор */
.saw_2 {
  /*text-align: center;*/
  display: inline-block;
  position: relative;
  width: 100%;
  height: 750px;
  margin-top: 60px;
  border: 10px solid transparent;
  border-width: 10px 0;
  background-color: #EDEDED;
  background-color: hsla(0, 0%, 0%, 0);
  background-image: -webkit-linear-gradient(#EDEDED, #EDEDED),
  -webkit-linear-gradient(top left, transparent 50.5%, #EDEDED 50.5%),
  -webkit-linear-gradient(top right, transparent 50.5%, #EDEDED 50.5%),
  -webkit-linear-gradient(bottom left, transparent 50.5%, #EDEDED 50.5%),
  -webkit-linear-gradient(bottom right, transparent 50.5%, #EDEDED 50.5%);
  background-image: -moz-linear-gradient(#EDEDED, #EDEDED),
  -moz-linear-gradient(top left, transparent 50.5%, #EDEDED 50.5%),
  -moz-linear-gradient(top right, transparent 50.5%, #EDEDED 50.5%),
  -moz-linear-gradient(bottom left, transparent 50.5%, #EDEDED 50.5%),
  -moz-linear-gradient(bottom right, transparent 50.5%, #EDEDED 50.5%);
  background-image: linear-gradient(#EDEDED, #EDEDED),
  linear-gradient(to bottom right, transparent 50.5%, #EDEDED 50.5%),
  linear-gradient(to bottom left, transparent 50.5%, #EDEDED 50.5%),
  linear-gradient(to top right, transparent 50.5%, #EDEDED 50.5%),
  linear-gradient(to top left, transparent 50.5%, #EDEDED 50.5%);
  background-repeat: repeat, repeat-x, repeat-x, repeat-x, repeat-x;
  background-position: 0 0, 10px 0, 10px 0, 10px 100%, 10px 100%;
  background-size: auto auto, 20px 20px, 20px 20px, 20px 20px, 20px 20px;
  background-clip: padding-box, border-box, border-box, border-box, border-box;
  background-origin: padding-box, border-box, border-box, border-box, border-box;

  /*конец зубастого забора*/
}

.marg_down {
  margin-top: 120px;
}

.circle {
  border-radius: 50%;
}

.block_contacts {
  position: absolute;
  height: 550px;
  width: 100%;
  margin-top: 100px;
  background-color: #FFFFFF;
  overflow: hidden;
}

.block_contacts > h1 {
  font-weight: bold;
  font-size: 40px;
  font-style: italic;
}

/*.banner_address {*/
/*float: left;*/
/*position: relative;*/
/*margin-top: 60px;*/
/*height: 350px;*/
/*width: 620px;*/
/*text-align: center;*/
/*background-color: #b0c0dc;*/
/*overflow: hidden;*/
/*opacity: 0.7;*/
/*}*/

.adress {
  float: left;
  position: inherit;
  margin-top: -474px;
  height: 100%;
  width: 50%;
  text-align: center;
  background-color: #090007;
  overflow: hidden;
  opacity: 0.7;
}

.adress > h1 {
  color: white;
  padding: 23px 0;
  margin-bottom: -55px;
  font-size: 20px;
  font-weight: 500;
}

/*.geolocation_img > h3 {*/
/*margin-top: -3px;*/
/*color: black;*/
/*}*/

/*.geolocation_img > span {*/
/*color: black;*/
/*font-weight: 500;*/
/*}*/

.geolocation_img {

  position: absolute;
  height: 350px;
  width: 100%;
  float: right;
  margin-top: 60px;
  background-color: #b1dfbb;
  overflow: hidden;
  /*opacity: 0.8;*/
}

/*arrow scroll*/

#section04 a {
  padding-top: 60px;
}

#section04 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}

@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

.demo a {
  position: absolute;
  /*text-align: center;*/
  bottom: 20px;
  left: 50%;
  /*right: 50%;*/
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

.demo a:hover {
  opacity: .5;
}

#section05 a {
  padding-top: 70px;
}

#section05 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

/*arrow scroll ends*/

/*.footer {*/
/*position: absolute;*/
/*display: inline-block;*/
/*width: 100%;*/
/*height: 75px;*/
/*margin-top: 700px;*/
/*background-color: #2F3237;*/
/*}*/

footer {
  position: relative;
  bottom: -640px;
}

@media (max-height: 800px) {
  footer {
    position: static;
  }

  header {
    padding-top: 40px;
  }
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  height: 250px;
  text-align: left;
  font: bold 16px sans-serif;

  padding: 55px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: #5383d3;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 5px;
  line-height: 50px;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 0;
  margin-top: 13px;
}

.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none;;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 52px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: -20px;
  padding-left: 20px;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }

}

@media only screen and (min-width: 990px) and (max-width: 1280px) {

  .container-fluid {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
  }

  .text-fluid {
    position: absolute;
    font-size: 21px;
    margin: 28% 2%;
    font-weight: lighter;
    text-align: center;
    color: black;
    font-family: Gill Sans, sans-serif;
  }

  .text-fluid-bold {
    position: absolute;
    display: inline-block;
    font-size: 28px;
    margin: 17% 27%;
    color: #2F3B3E;
    width: 50%;
    font-weight: bolder;
    font-family: Arial, sans-serif;
    font-style: italic;
    text-align: center;
  }

  #section04 a {
    padding-top: 48px;
  }

  .demo a {
    position: absolute;
    /* text-align: center; */
    bottom: -1%;
    left: 50%;
    /* right: 50%; */
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font: normal 400 17px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
  }

  .block-2_L {
    position: absolute;
    display: inline-block;
    height: 430px;
    width: 100%;
    float: left;
    background-color: transparent;
  }

  .block-2_R {
    position: relative;
    display: inline-block;
    height: 430px;
    width: 45%;
    float: right;
    background-color: transparent;
  }

  .block-2_R > h1 {
    text-align: center;
    font-weight: bold;
    height: 52px;
    font-size: 29px;
    padding: 10px 20px;
    font-style: italic;
  }

  .block-2_R > p {
    /* text-align: center; */
    text-align: justify;
    font-size: 20px;
    height: 80px;
    padding: 10px 20px;
  }

  .block-2_R > h2 {
    text-align: center;
    font-style: italic;
    font-size: 18px;
    height: 43px;
    margin-bottom: 10px;
  }

  .block-3 {
    position: relative;
    display: inline-block;
    height: 2400px;
    width: 100%;
    margin-top: 0;
    background-color: #EDEDED;
    overflow: hidden;
  }

  .block-3 > .container-fluid > h1 {
    text-align: center;
    font-weight: bold;
    height: 80px;
    font-size: 33px;
    font-style: italic;
  }

  .block-3 > .container-fluid > p {
    text-align: justify;
    font-size: 21px;
    height: 80px;
    padding: 10px 20px;
  }

  .block-4_R > h1 {
    text-align: center;
    font-weight: bold;
    height: 70px;
    font-size: 30px;
    padding: 70px 20px;
    font-style: italic;
  }

  .block-4_R > p {
    /* text-align: center; */
    text-align: justify;
    font-size: 21px;
    height: 80px;
    padding: 10px 60px;
  }

  .block-4_L {
    position: absolute;
    float: left;
    width: 50%;
    height: 400px;
  }

  .block-4_R {
    width: 50%;
    height: 400px;
    background-color: transparent;
    position: relative;
    float: right;
  }

  .block-5 {
    position: relative;
    display: block;
    height: 400px;
    width: 100%;
    background-color: transparent;
    overflow: hidden;
  }

  .block-5_L > h1 {
    text-align: center;
    font-weight: bold;
    height: 70px;
    font-size: 30px;
    padding: 70px 20px;
    font-style: italic;
  }

  .block-5_L > p {
    /* text-align: center; */
    text-align: justify;
    font-size: 21px;
    height: 80px;
    padding: 10px 60px;
  }

  .block-5_L {
    width: 50%;
    height: 400px;
    background-color: transparent;
    position: absolute;
    float: left;
  }

  .block-5_R {
    position: relative;
    float: right;
    width: 50%;
    height: 400px;
  }

  .block-6_L {
    position: absolute;
    float: left;
    width: 50%;
    height: 400px;
  }

  .block-6_R {
    position: relative;
    float: right;
    width: 50%;
    height: 400px;
    background-color: transparent;
  }

  .block-6_R > h1 {
    text-align: center;
    font-weight: bold;
    height: 70px;
    font-size: 30px;
    padding: 70px 20px;
    font-style: italic;
  }

  .block-6_R > p {
    /* text-align: center; */
    text-align: justify;
    font-size: 21px;
    height: 80px;
    padding: 10px 60px;
  }

  .block-4 {
    position: relative;
    display: block;
    height: 1200px;
    width: 100%;
    margin-top: 450px;
    background-color: white;
    overflow: hidden;
  }

  .do_text_position {
    position: relative;
    display: inline-block;
    background-color: transparent;
    overflow: hidden;
    height: 300px;
    width: 52%;
    margin-left: -36%;
    text-align: center;
  }

  .do_text_position > p {
    text-align: justify;
    font-size: 21px;
    height: 80px;
  }

  .block-3 {
    position: relative;
    display: inline-block;
    height: 2250px;
    width: 100%;
    margin-top: 0;
    background-color: #EDEDED;
    overflow: hidden;
  }

  .text-middle > h1 {
    font-weight: bold;
    font-size: 33px;
    font-style: italic;
  }

  .col-sm-4 > p {
    text-align: justify;
    font-size: 21px;
    padding: 7% 9%;
    height: 200px;
  }

  .block_why {
    position: relative;
    height: 860px;
    width: 100%;
    margin-top: -15px;
    background-color: #FFFFFF;
    overflow: hidden;
  }

  /*.adress {*/
    /*float: left;*/
    /*position: inherit;*/
    /*margin-top: -40%;*/
    /*height: 120%;*/
    /*width: 50%;*/
    /*text-align: center;*/
    /*background-color: #090007;*/
    /*overflow: hidden;*/
    /*opacity: 0.7;*/
  /*}*/

  /*.geolocation_img {*/
    /*position: absolute;*/
    /*height: 520%;*/
    /*width: 100%;*/
    /*float: right;*/
    /*margin-top: 60px;*/
    /*background-color: #b1dfbb;*/
    /*overflow: hidden;*/
    /*!* opacity: 0.8; *!*/
  /*}*/


  .adress {
    float: left;
    position: absolute;
    margin-top: -40%;
    height: 121%;
    width: 50%;
    text-align: center;
    background-color: #090007;
    overflow: hidden;
    opacity: 0.7;
  }

  .block_contacts {
    position: absolute;
    height: 60%;
    width: 100%;
    padding-top: 4%;
    background-color: #FFFFFF;
    overflow: hidden;
  }

  .geolocation_img {
    position: sticky;
    height: 3800%;
    width: 100%;
    float: right;
    margin-top: 60px;
    background-color: #b1dfbb;
    overflow: hidden;
    /* opacity: 0.8; */
  }


}

@media only screen and (min-width: 768px) and (max-width: 989px) {

  .container-fluid {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
  }

  .text-fluid {
    position: absolute;
    font-size: 17px;
    margin: 28% 2%;
    font-weight: lighter;
    text-align: center;
    color: black;
    font-family: Gill Sans, sans-serif;
  }

  .text-fluid-bold {
    position: absolute;
    display: inline-block;
    font-size: 23px;
    margin: 18% 24%;
    width: 50%;
    color: #2F3B3E;
    font-weight: bolder;
    font-family: Arial, sans-serif;
    font-style: italic;
    text-align: center;
  }

  #section04 a {
    padding-top: 48px;
  }

  .demo a {
    position: absolute;
    bottom: -1%;
    left: 48%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font: normal 400 13px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
  }

  .img_position {
    position: relative;
    width: 70%;
    padding: 0 5%;
    margin-left: 15%;
    margin-top: 40%;
  }

  .block-2 {
    position: relative;
    height: 730px;
    width: 100%;
    margin-top: 120px;
    background-color: #FFFFFF;
    overflow: hidden;
  }

  .block-2_L {
    position: absolute;
    display: inline-block;
    height: 430px;
    width: 100%;
    float: left;
    background-color: transparent;
  }

  .block-2_R {
    position: relative;
    display: block;
    height: 430px;
    width: 100%;
    margin-top: 1%;
    background-color: transparent;
  }

  .block-2_R > h1 {
    text-align: center;
    font-weight: bold;
    height: 34px;
    font-size: 23px;
    padding: 10px 20px;
    font-style: italic;
  }

  .block-2_R > h2 {
    text-align: center;
    font-style: italic;
    font-size: 19px;
    height: 43px;
    margin-bottom: 10px;
  }

  .block-2_R > p {
    text-align: justify;
    font-size: 17px;
    height: 80px;
    padding: 10px 20px;
  }

  .block-3 {
    position: relative;
    display: inline-block;
    height: 2400px;
    width: 100%;
    margin-top: 0;
    background-color: #EDEDED;
    overflow: hidden;
  }

  .block-3 > .container-fluid > h1 {
    text-align: center;
    font-weight: bold;
    height: 80px;
    margin-top: -3%;
    font-size: 23px;
    font-style: italic;
  }

  .block-3 > .container-fluid > p {
    text-align: justify;
    font-size: 17px;
    height: 80px;
    padding: 10px 20px;
  }

  .block-4_R > h1 {
    text-align: center;
    font-weight: bold;
    height: 70px;
    font-size: 23px;
    padding: 25px 20px;
    font-style: italic;
  }

  .block-4_R > p {
    /* text-align: center; */
    text-align: justify;
    font-size: 17px;
    height: 80px;
    padding: 10px 60px;
  }

  .block-4_L {
    position: absolute;
    float: left;
    width: 50%;
    height: 300px;
  }

  .block-4_R {
    width: 50%;
    height: 300px;
    background-color: transparent;
    position: relative;
    float: right;
  }

  .block-5 {
    position: relative;
    display: block;
    height: 300px;
    width: 100%;
    background-color: transparent;
    overflow: hidden;
  }

  .block-5_L > h1 {
    text-align: center;
    font-weight: bold;
    height: 70px;
    font-size: 23px;
    padding: 25px 20px;
    font-style: italic;
  }

  .block-5_L > p {
    /* text-align: center; */
    text-align: justify;
    font-size: 17px;
    height: 80px;
    padding: 10px 60px;
  }

  .block-5_L {
    width: 50%;
    height: 300px;
    background-color: transparent;
    position: absolute;
    float: left;
  }

  .block-5_R {
    position: relative;
    float: right;
    width: 50%;
    height: 300px;
  }

  .block-6_L {
    position: absolute;
    float: left;
    width: 50%;
    height: 300px;
  }

  .block-6_R {
    position: relative;
    float: right;
    width: 50%;
    height: 300px;
    background-color: transparent;
  }

  .block-6_R > h1 {
    text-align: center;
    font-weight: bold;
    height: 70px;
    font-size: 23px;
    padding: 25px 20px;
    font-style: italic;
  }

  .block-6_R > p {
    /* text-align: center; */
    text-align: justify;
    font-size: 17px;
    height: 80px;
    padding: 10px 60px;
  }

  .block-4 {
    position: relative;
    display: block;
    height: 900px;
    width: 100%;
    margin-top: 450px;
    background-color: white;
    overflow: hidden;
  }

  .do_text_position {
    position: relative;
    display: inline-block;
    background-color: transparent;
    overflow: hidden;
    height: 300px;
    width: 50%;
    margin-left: -45%;
    text-align: center;
  }

  .do_text_position > p {
    text-align: justify;
    font-size: 18px;
    height: 80px;
  }

  .btn-default {
    position: absolute;
    margin: 45px 0 0 85px;
    width: 180px;
    height: 55px;
    font-style: italic;
    font-size: 17px;
    color: white;
    background-color: black;
    border-color: black;
    border-radius: 10px;
  }

  .block-3 {
    position: relative;
    display: inline-block;
    height: 1900px;
    width: 100%;
    margin-top: 0;
    background-color: #EDEDED;
    overflow: hidden;
  }

  .text-middle > h1 {
    font-weight: bold;
    font-size: 23px;
    margin-top: -5%;
    font-style: italic;
  }

  .col-sm-4 > h1 {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
  }

  .col-sm-4 > p {
    text-align: justify;
    font-size: 16px;
    padding: 7% 9%;
    height: 200px;
  }

  .block_why {
    position: relative;
    height: 735px;
    width: 100%;
    margin-top: -15px;
    background-color: #FFFFFF;
    overflow: hidden;
  }

  .revealator-slideup.revealator-within, .revealator-slideup.revealator-partially-above, .revealator-slideup.revealator-above {
    transform: translate(0, 0);
    opacity: 1;
    margin-top: -5%;
  }

  .adress {
    float: left;
    position: absolute;
    margin-top: -40%;
    height: 121%;
    width: 50%;
    text-align: center;
    background-color: #090007;
    overflow: hidden;
    opacity: 0.7;
  }

  .block_contacts {
    position: absolute;
    height: 60%;
    width: 100%;
    padding-top: 4%;
    background-color: #FFFFFF;
    overflow: hidden;
  }

  .geolocation_img {
    position: sticky;
    height: 3800%;
    width: 100%;
    float: right;
    margin-top: 60px;
    background-color: #b1dfbb;
    overflow: hidden;
    /* opacity: 0.8; */
  }

  .footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    height: 450px;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    margin-top: -6%;
  }


}